@use '../variables' as *;

.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .landing-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        padding: 2rem;
        color: $main-text-color;
        background-image: url('../../assets/images/LandingPictureBackground.jpg');
        background-size: cover;
        background-position: center center;
        height: 100%;
        .intro-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            backdrop-filter: blur(14px);
            padding: 64px;
            background-color: rgba($color: $background-color-light, $alpha: 0.6);
            border-radius: 40px;
            border-color: $border-color;
            border-width: 1px;
            .landing-title {
                font-size: 56px;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }


        
    }
}
.landing-description {
    font-size: 20px;
    margin-bottom: 2rem;
    line-height: 150%;
}
.landing-button {
    padding: 0.75rem 1.5rem;
    font-size: 20px;
    background-color: $button-bg;
    color: $main-text-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.landing-forms {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-light;
    
}