@use '../variables' as *;

.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .landing-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        padding: 2rem;
        color: $main-text-color;
        background-image: url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?q=80&w=1380&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center center;
        height: 100%;
        .intro-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            backdrop-filter: blur(14px);
            padding: 64px;
            background-color: rgba($color: $background-color-light, $alpha: 0.6);
            border-radius: 40px;
            border-color: $border-color;
            border-width: 1px;
            .landing-title {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }


        
    }
}
.landing-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.landing-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: $button-bg;
    color: $main-text-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.landing-forms {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}