@use '../../variables' as *;

.auth-layout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60%;
    gap: 32px;

    @media (max-width: 768px) {
        width: 85%;
        gap: 24px;
    }

    @media (max-width: 480px) {
        width: 100%;
        padding: 1rem;
        height: auto;
        min-height: 100vh;
        gap: 20px;
    }
}
