@use '../../variables' as *;

.switch-auth-container {
    display: flex;
    gap: 8px;
    width: 100%;

    .switch-auth-content {
        display: flex;
        justify-content: center;
        background-color: $bg-color-medium;
        gap: 16px;
        width: 100%;
        padding: 8px;
        border-radius: 16px;

        @media (max-width: 480px) {
            gap: 8px;
            padding: 6px;
        }

        button {
            font-size: 18px;
            cursor: pointer;
            background-color: $button-bg;
            color: $main-text-color;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            width: 100%;

            @media (max-width: 480px) {
                font-size: 14px;
                padding: 0.4rem 0.75rem;
            }
        }

        .Inactive-button {
            background-color: $bg-color-medium;
            color: $text-muted;
        }
    }
}
