@use "../../variables" as *;

button {
    padding: 0.65rem 1.2rem;
    background-color: $button-bg;
    color: $main-text-color;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: clamp(0.85rem, 1vw + 0.3rem, 1rem);
    transition: all 0.3s;

    &:hover {
        background-color: rgba($color: $button-bg, $alpha: 0.9);
    }

    @media (max-width: 900px) {
        padding: 0.6rem 1rem;
    }

    @media (max-width: 580px) {
        padding: 0.55rem 0.85rem;
        width: 100%;
    }
}
