@use "../../variables" as *;

select {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid $border-color-muted;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: $input-bg;
    color: $main-text-color;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23FFF0EB' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 30px;
    transition: all 0.3s;

    &:focus {
        border-color: $border-color;
        box-shadow: 0 0 0 2px rgba($color: $border-color, $alpha: 0.2);
    }
}