@use '../variables' as *;

.home-page {
    display: flex;
    flex-direction: column;
    background-color: $main-bg;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}