@use '../../variables' as *;

.appartement-card {
    background-color: $border-color;
    border-radius: 8px;
    box-shadow: 2px 2px 4px $border-color-muted;
    width: 45%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
    box-sizing: border-box;

    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 480px) {
        width: 100%;
        border-radius: 6px;
    }

    .appartement-card-header {
        width: 100%;

        .appartement-card-image {
            border-start-start-radius: 8px;
            border-start-end-radius: 8px;
            width: 100%;
            height: 220px;
            object-fit: cover;

            @media (max-width: 768px) {
                height: 200px;
            }

            @media (max-width: 480px) {
                height: 180px;
            }
        }

        h3 {
            padding: 8px 16px 4px 16px;
            text-align: start;
            font-size: 1.5em;
            color: $main-text-color;

            @media (max-width: 768px) {
                font-size: 1.25em;
            }

            @media (max-width: 480px) {
                font-size: 1.1em;
                padding: 6px 12px 4px 12px;
            }
        }
    }

    .appartement-card-body {
        padding: 4px 16px 8px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 480px) {
            padding: 4px 12px 8px 12px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
        }

        .appartement-description {
            font-size: 1em;
            color: $text-muted;
            margin-bottom: 8px;
            text-align: center;

            @media (max-width: 480px) {
                font-size: 0.85em;
                text-align: start;
            }
        }

        .appartement-price {
            font-size: 1.2em;
            color: $main-text-color;
            margin-bottom: 4px;

            @media (max-width: 480px) {
                font-size: 1em;
            }
        }

        .appartement-city {
            font-size: 1em;
            color: $text-muted;

            @media (max-width: 480px) {
                font-size: 0.85em;
            }
        }

        .appartement-city-name {
            font-size: 1.2em;
            color: $text-muted;

            @media (max-width: 480px) {
                font-size: 1em;
            }
        }
    }
}
