@use "../../variables" as *;

.owner-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    flex: 1;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

    @media (max-width: 900px) {
        padding: 1.5rem;
    }

    @media (max-width: 580px) {
        padding: 1rem;
    }
}
