// Breakpoints
$bp-tablet: 768px;
$bp-mobile: 480px;

// Background Colors
$main-bg: #0A0201;
$bg-color-medium: #150804;
$background-color-light: #20130E;

// Couleur des textes
$main-text-color: #FFF0EB;
$text-muted: #CFA89B;

// Couleur de Boutons

$button-bg: #E89D82;

//Couleur des bordures
$border-color: #604034;
$border-color-muted: #42241A;

//input Colors
$input-bg: #7D5A4F;
