
// Background Colors
$main-bg: #0A0201;
$background-color-light: #20130E;

// Couleur des textes
$main-text-color: #FFF0EB;

// Couleur de Boutons

$button-bg: #E89D82;

//Couleur des bordures
$border-color: #604034;
$border-color-muted: #42241A;
